*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body{
    color:#434455;
    font-family: "Roboto", sans-serif;
    background-color: #FFF;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    height: 100%;
}

 header{
  
  flex-shrink: 0;
  border-bottom: 1px solid  #E7E9FC;
  padding-bottom: 0;
 }

 .link {
   letter-spacing: 0.02em;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   color: #2e2f42;
   
 } 

 .link:hover,
 .link:focus {
    color: #404bbf;
    text-decoration: underline;
 }

 .contacts{
   color: #434455;
   letter-spacing: 0.02em;
   
 }
  
 .contacts:hover,
 .contacts:focus {
   color: #404BBF;
 }
 
  .menu-nav{
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  margin: 24px 332px 24px 76px;

 }

 .write-us{
   display: inline-flex;
   gap: 40px;
   font-style: normal;
   margin:0;
  
 }

 .main-title{
   color: #FFF;
   text-align: center;
   font-family: Roboto;
   font-size: 56px;
   font-weight: 700;
   line-height: 1.07;
   letter-spacing: 1.12px;
   width: 496px;
   margin-left: 472px;
   margin-right: 472px;
   margin-top: 188px;
}

 .top-section{
   background: #2E2F42;
 }

 .main-btn{
   color:  #FFF;
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.64px;
   width: 282px;
   cursor: pointer;
   background: #4D5AE5;
   display: inline-flex;
   padding: 16px 32px;
   align-items: flex-start;
   gap: 10px;
   align-content: center;
   margin-right: 635px;
   margin-bottom: 188px;
   margin-left: 636px;
   border-radius: 4px;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
 }

   .main-btn:hover, .main-btn:focus{
     background: #404BBF;
         
   }
 
 

   
 .title-two{
   color: #2e2f42;
   text-align: center;
   font-size: 36px;
   font-weight: 700;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   margin-left: 0;
   margin-right: 0;
 }

 .submain-title{
   color: #2e2f42; 
   font-size: 20px;
   font-weight: 500;
   line-height: 1.2;
   letter-spacing: 0.02em;
   margin-left: 0;
   margin-right: 0;
}

 .text{
   letter-spacing: 0.02em;
   color:#434455;
   font-size: 16px;
   line-height: 1.5;
   margin-left: 0;
   margin-right: 0;

 }
 .our-team{
   background:  #F4F4FD;}

 .about-team{
   background-color: #FFFFFF;
   text-align: center;
 }


  li a{
   text-decoration: none;
 }
   


  li {
    list-style-type: none;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;

  }

 .logo{
   text-decoration: none;
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
   margin: 25.5px 0 25.5px 156px;
   }

    
 .logo-two{
   color: #2e2f42;
    }

 .logo-two-footer{
   color:#f4f4fd;
    }

 .footer-text{
    color: #F4F4FD;
    font-family: Roboto;
    letter-spacing: 0.32px;
    margin-left: 0;
    margin-right: 0;
 }

 .footer{
    background: #2E2F42;
 }


 .container-one {
   display: block;
   padding: 24px 156px;
   width: 1158px;
   margin: auto;
 }
 
 .container{
  display: block;
  padding-top: 120px;
  padding-bottom: 120px;
  width: 1158px;
  margin: auto;
  justify-content: center;
  
 }


 .princeps{
  display: flex;
  gap: 24px;
  padding-left: 156px;
  padding-right: 156px;
  justify-content: center;
 }

 .card-set{
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 48px;
  align-content: center;
 }

 .card-set .card{
  width: calc((100% - 48px) / 3);
 }

